{% extends 'website/base.html.twig' %}
{% form_theme form 'website/form/fields.twig' %}
{% block title %}{% trans %}Reset password{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="reset-password">
            <h1>{% trans %}Reset password{% endtrans %}</h1>
            <p>
                {% trans %}Please enter your new password below.{% endtrans %}
            </p>

            {{ form_start(form) }}

            <div class="form-field">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>

            <div class="form-field">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>

            {{ form_widget(form.token, {'value': token}) }}
            <button type="submit" class="button-large">{% trans %}Reset{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}