{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Account{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="account">
            <h1>{% trans %}Your account{% endtrans %}</h1>

            <div class="account-block">
                <a href="{{ getLocalizedRoute('account_shop') }}">
                    <div class="inner-block">
                        {% trans %}Shop{% endtrans %}
                    </div>
                </a>
            </div>
            <div class="account-block">
                <a href="{{ getLocalizedRoute('account_purchase_overview') }}">
                    <div class="inner-block">
                        {% trans %}Purchases{% endtrans %}
                    </div>
                </a>
            </div>
            <div class="account-block">
                <a href="{{ getLocalizedRoute('account_edit') }}">
                    <div class="inner-block">
                        {% trans %}Edit account{% endtrans %}
                    </div>
                </a>
            </div>
            <div class="account-block">
                <a href="{{ getLocalizedRoute('account_complete_profile') }}">
                    <div class="inner-block">
                        {% trans %}Complete profile{% endtrans %}
                    </div>
                </a>
            </div>
            <div class="account-block">
                <a href="{{ getLocalizedRoute('logout') }}">
                    <div class="inner-block">
                        {% trans %}Logout{% endtrans %}
                    </div>
                </a>
            </div>
            {% if account.genblueprint %}
                <div class="account-block">
                    <a href="{{ getLocalizedRoute('account_genblueprint') }}">
                        <div class="inner-block">
                            {% trans %}GenBluePrint{% endtrans %}
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="clear">&nbsp;</div>
        </div>
    </div>
{% endblock %}