{% extends 'website/base.html.twig' %}
{% form_theme form 'website/form/fields.twig' %}
{% block title %}{% trans %}GenBluePrint{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class='genblueprint'>
            <a href="{{ getLocalizedRoute('account') }}" class="button-small back-button">{% trans %}Back to account{% endtrans %}</a>
            <h1>{% trans %}GenBluePrint{% endtrans %}</h1>

            <div class="text">
                <p>{% trans %}Maximum of 2 answers per question.{% endtrans %}</p><br />
            </div>

            {{ form_start(form) }}

            <div class="form-field">
                {{ form_label(form.question1a) }}
                {{ form_widget(form.question1a) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question1b) }}
                {{ form_widget(form.question1b) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question1c) }}
                {{ form_widget(form.question1c) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question1d) }}
                {{ form_widget(form.question1d) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question1e) }}
                {{ form_widget(form.question1e) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question1f) }}
                {{ form_widget(form.question1f) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question2) }}
                {{ form_widget(form.question2) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question3) }}
                {{ form_widget(form.question3) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question4) }}
                {{ form_widget(form.question4) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question5) }}
                {{ form_widget(form.question5) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question01) }}
                {{ form_widget(form.question01) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question6) }}
                {{ form_widget(form.question6) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question7) }}
                {{ form_widget(form.question7) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question8) }}
                {{ form_widget(form.question8) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question9) }}
                {{ form_widget(form.question9) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question10) }}
                {{ form_widget(form.question10) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question02) }}
                {{ form_widget(form.question02) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question11) }}
                {{ form_widget(form.question11) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question12) }}
                {{ form_widget(form.question12) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question13) }}
                {{ form_widget(form.question13) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question14) }}
                {{ form_widget(form.question14) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question15) }}
                {{ form_widget(form.question15) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question03) }}
                {{ form_widget(form.question03) }}
            </div>


            <div class="form-field">
                {{ form_label(form.question16) }}
                {{ form_widget(form.question16) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question17) }}
                {{ form_widget(form.question17) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question18) }}
                {{ form_widget(form.question18) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question19) }}
                {{ form_widget(form.question19) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question20) }}
                {{ form_widget(form.question20) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question04) }}
                {{ form_widget(form.question04) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question21) }}
                {{ form_widget(form.question21) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question22) }}
                {{ form_widget(form.question22) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question23) }}
                {{ form_widget(form.question23) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question24) }}
                {{ form_widget(form.question24) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question25) }}
                {{ form_widget(form.question25) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question05) }}
                {{ form_widget(form.question05) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question26) }}
                {{ form_widget(form.question26) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question27) }}
                {{ form_widget(form.question27) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question28) }}
                {{ form_widget(form.question28) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question29) }}
                {{ form_widget(form.question29) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question06) }}
                {{ form_widget(form.question06) }}
            </div>

            <div class="form-field">
                {{ form_label(form.question30) }}
                {{ form_widget(form.question30) }}
            </div>

            <div class="clear">&nbsp;</div>

            <h2>{% trans %}Physical test{% endtrans %}</h2>
            <p>
                {% trans %}The muscle test{% endtrans %}: {% trans %}every muscle group is tested at a maximum power on one side of the body.{% endtrans %}
                {% trans %}(You can choose; left or right side){% endtrans %}. {% trans %}Maximum force is repeated once.{% endtrans %}
                {% trans %}Every muscle group will be tested on the same side as chosen (left or right).{% endtrans %}
                {% trans %}The data will be supplemented with a test of 80% of your maximum strength, and you will repeat this as many times as possible on the same side of the body.{% endtrans %}
                <br/><br/>
                {% trans %}Example{% endtrans %}:
                <br/><br/>
                {% trans %}Maximum power (1 repetition) is 60 kg with the leg extension (leg muscle machine) 80% of 60 kg is 48kg.{% endtrans %}
                {% trans %}With those 48 kg you are going to do as many repetitions as possible.{% endtrans %}
                {% trans %}If your machine doesn’t allow you to choose 48kg, then you can choose 45 or 50 kg and you will adjust the number of repetitions by 1 (either 1 more or one less).{% endtrans %}
            </p>

            <div class="form-field">
                {{ form_label(physicalForm.bicep_curl_max) }}
                {{ form_widget(physicalForm.bicep_curl_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.bicep_curl_80) }}
                {{ form_widget(physicalForm.bicep_curl_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.tricep_extension_max) }}
                {{ form_widget(physicalForm.tricep_extension_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.tricep_extension_80) }}
                {{ form_widget(physicalForm.tricep_extension_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.leg_extension_max) }}
                {{ form_widget(physicalForm.leg_extension_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.leg_extension_80) }}
                {{ form_widget(physicalForm.leg_extension_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.leg_curl_max) }}
                {{ form_widget(physicalForm.leg_curl_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.leg_curl_80) }}
                {{ form_widget(physicalForm.leg_curl_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.chest_press_max) }}
                {{ form_widget(physicalForm.chest_press_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.chest_press_80) }}
                {{ form_widget(physicalForm.chest_press_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.lat_pulley_max) }}
                {{ form_widget(physicalForm.lat_pulley_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.lat_pulley_80) }}
                {{ form_widget(physicalForm.lat_pulley_80) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.shoulder_press_max) }}
                {{ form_widget(physicalForm.shoulder_press_max) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.shoulder_press_80) }}
                {{ form_widget(physicalForm.shoulder_press_80) }}
            </div>

            <div class="clear">&nbsp;</div>

            <p>
                {% trans %}Body measurements{% endtrans %}: {% trans %}measuring your proportions by yourself can be quite a difficult task. Ask your partner, personal coach or doctor for help.{% endtrans %}
                {% trans %}In this image you will clearly see what kinds of measurements you’ll have to do.{% endtrans %}
                <br/>
                {% trans %}We will need the following measurements of your body in centimeters{% endtrans %}:<br/>
                {% if app.request.getLocale() == 'nl' %}
                    <img src="{{ asset('img/thuismeten.jpg') }}" class="home-measuring">
                {% else %}
                    <img src="{{ asset('img/measuring.jpg') }}" class="home-measuring">
                {% endif %}
            </p>

            <div class="form-field">
                {{ form_label(physicalForm.waist) }}
                {{ form_widget(physicalForm.waist) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.belly) }}
                {{ form_widget(physicalForm.belly) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.hip) }}
                {{ form_widget(physicalForm.hip) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.upper_arm) }}
                {{ form_widget(physicalForm.upper_arm) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.chest) }}
                {{ form_widget(physicalForm.chest) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.neck) }}
                {{ form_widget(physicalForm.neck) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.upper_leg) }}
                {{ form_widget(physicalForm.upper_leg) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.lower_leg) }}
                {{ form_widget(physicalForm.lower_leg) }}
            </div>

            <div class="clear">&nbsp;</div>

            <p>
                {% trans %}Skinfold measurement{% endtrans %}: {% trans %}our body fat is spread across our body in a unique way.{% endtrans %}
                {% trans %}It can be difficult to measure some areas of your body by yourself.{% endtrans %}
                {% trans %}If you’re not sure, you can always ask a professional for help.{% endtrans %}
                {% trans %}Need any help? Just ask us for a Personal Measuring.{% endtrans %}<br/>
                {% trans %}Measure everything from the right side of your body.{% endtrans %}<br/>
                <br/><br/>
                {% trans %}We need the following measurements of skinfolds{% endtrans %}:
            </p>

            <div class="form-field">
                {{ form_label(physicalForm.chin) }}
                {{ form_widget(physicalForm.chin) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.cheek) }}
                {{ form_widget(physicalForm.cheek) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.armpit_chest) }}
                {{ form_widget(physicalForm.armpit_chest) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.tricep) }}
                {{ form_widget(physicalForm.tricep) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.bicep) }}
                {{ form_widget(physicalForm.bicep) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.back_shoulderblade) }}
                {{ form_widget(physicalForm.back_shoulderblade) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.lower_back) }}
                {{ form_widget(physicalForm.lower_back) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.torso_upper_right) }}
                {{ form_widget(physicalForm.torso_upper_right) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.waist_right) }}
                {{ form_widget(physicalForm.waist_right) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.waist_front_right) }}
                {{ form_widget(physicalForm.waist_front_right) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.belly_button) }}
                {{ form_widget(physicalForm.belly_button) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.knee) }}
                {{ form_widget(physicalForm.knee) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.calf) }}
                {{ form_widget(physicalForm.calf) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.upper_leg_front) }}
                {{ form_widget(physicalForm.upper_leg_front) }}
            </div>

            <div class="form-field">
                {{ form_label(physicalForm.upper_leg_back) }}
                {{ form_widget(physicalForm.upper_leg_back) }}
            </div>

            <div class="clear">&nbsp;</div>

            <button type="submit" class="button-large">{% trans %}Save{% endtrans %}</button>

            {{ form_end(form) }}

            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('website/js/checkboxLimit.js') }}"></script>
{% endblock %}
