{% extends 'website/base.html.twig' %}
{% form_theme form 'website/form/fields.twig' %}
{% block title %}{% trans %}GenBluePrint{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class='genblueprint'>
            <a href="{{ getLocalizedRoute('account') }}" class="button-small float-right">{% trans %}Back to account{% endtrans %}</a>
            <h1>{% trans %}GenBluePrint{% endtrans %}</h1>

            <div class="text">
                <p>{% trans %}Maximum of 2 answers per question.{% endtrans %}</p><br />
            </div>

            {{ form_start(form) }}

            <div class="form-field one-third">
                {{ form_label(form.question1a) }}
                {{ form_widget(form.question1a) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question1b) }}
                {{ form_widget(form.question1b) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question1c) }}
                {{ form_widget(form.question1c) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question1d) }}
                {{ form_widget(form.question1d) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question1e) }}
                {{ form_widget(form.question1e) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question1f) }}
                {{ form_widget(form.question1f) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question2) }}
                {{ form_widget(form.question2) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question3) }}
                {{ form_widget(form.question3) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question4) }}
                {{ form_widget(form.question4) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question5) }}
                {{ form_widget(form.question5) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question6) }}
                {{ form_widget(form.question6) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question7) }}
                {{ form_widget(form.question7) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question8) }}
                {{ form_widget(form.question8) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question9) }}
                {{ form_widget(form.question9) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question10) }}
                {{ form_widget(form.question10) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question11) }}
                {{ form_widget(form.question11) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question12) }}
                {{ form_widget(form.question12) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question13) }}
                {{ form_widget(form.question13) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question14) }}
                {{ form_widget(form.question14) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question15) }}
                {{ form_widget(form.question15) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question16) }}
                {{ form_widget(form.question16) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question17) }}
                {{ form_widget(form.question17) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question18) }}
                {{ form_widget(form.question18) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question19) }}
                {{ form_widget(form.question19) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question20) }}
                {{ form_widget(form.question20) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question21) }}
                {{ form_widget(form.question21) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question22) }}
                {{ form_widget(form.question22) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question23) }}
                {{ form_widget(form.question23) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question24) }}
                {{ form_widget(form.question24) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question25) }}
                {{ form_widget(form.question25) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question26) }}
                {{ form_widget(form.question26) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question27) }}
                {{ form_widget(form.question27) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question28) }}
                {{ form_widget(form.question28) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question29) }}
                {{ form_widget(form.question29) }}
            </div>

            <div class="form-field one-third">
                {{ form_label(form.question30) }}
                {{ form_widget(form.question30) }}
            </div>

            <div class="clear">&nbsp;</div>

            <button type="submit" class="button-large">{% trans %}Save{% endtrans %}</button>

            {{ form_end(form) }}

            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('website/js/checkboxLimit.js') }}"></script>
{% endblock %}