{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Purchases{% endtrans %}{% endblock %}

{% block body %}
    <div class="account-content">
        <div class="purchases">
            <a href="{{ getLocalizedRoute('account') }}" class="button-small back-button">{% trans %}Back to account{% endtrans %}</a>
            <h1>{% trans %}Purchase overview{% endtrans %}</h1>
            <div class="orders">
                {% for order in orders %}
                    <div class="order">
                        <div class="info">
                            <table>
                                <tr>
                                    <td>ID:</td><td>{{ order.id }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Order date{% endtrans %}:</td><td>{{ order.dateCreated|date("j F Y") }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Price{% endtrans %}:</td><td>&euro;{{ order.totalPrice|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Payment method{% endtrans %}:</td><td>{{ order.paymentMethod }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Status{% endtrans %}:</td><td>{{ order.status }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="lines">
                            {% for line in order.orderLines %}
                                <div class="line">
                                    {% if line.product.ebook and order.status == 'paid' %}
                                        <a href="{{ getLocalizedRoute('account_download_purchase', {id: line.id}) }}" target="_blank" class="product-link">{{ line.product.title }}</a>
                                    {% elseif line.product.hasGenblueprint and order.status == 'paid' %}
                                        <a href="{{ getLocalizedRoute('account_genblueprint') }}" target="_blank" class="product-link">{{ line.product.title }}</a>
                                    {% else %}
                                        {{ line.product.title }}
                                    {% endif %}
                                    x{{ line.amount }}
                                    <span class="break"><br></span>
                                    {% if line.color %} | {{ line.color|capitalize }}{% endif %}
                                    {% if line.size %} | {{ line.size|capitalize }}{% endif %}
                                    <span class="right">&euro;{{ line.price|number_format(2) }}</span>
                                    <div class="clear"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
