{% extends 'website/base.html.twig' %}

{% block title %}Unplugged{% endblock %}

{% block body %}
    <div class="homepage-header-image" style="background-image: url({{ asset('img/swimmer.jpg') }})">
        <div class="text-position">
            <h1>Unpluggen was nog nooit zo makkelijk</h1>
            <p>
                Train, eet en leef volgens de voor jou persoonlijk meest effectieve manier en bereik je doelen sneller.
            </p>
        </div>
    </div>

    {% if pages %}
    <div class="homepage-pages">
        <ul class="pages">
            {% for page in pages %}
                <li>
                    <div class="image" style="background-image: url({{ asset('img/genblueprint.jpg') }})">
                        <div class="image-text">
                            <h2>{{ page.slideTitle }}</h2>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-position">
                            <div class="align-left">
                                {{ page.slideText|raw }}
                                <a href="" class="button-large">{{ page.buttonText }}</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    {% endif %}

{% endblock %}