{% extends 'website/base.html.twig' %}

{% block title %}Unplugged{% endblock %}

{% block body %}
    <div class="homepage-header-image" style="background-image: url({{ asset('img/top1.jpg') }})">
        <div class="text-position">
            <div class="image-opacity-bar">
                <h1>{% trans %}Unplugging has never been so easy{% endtrans %}</h1>
                <h2>{% trans %}Train, eat and live the most effective way for you and reach your goals faster.{% endtrans %}</h2>
            </div>
        </div>
    </div>

    <div class="usps">
        <div class="why">
                <h2>{% trans %}Why Unplugged?{% endtrans %}</h2>
        </div>
        <div class="usp-list">
            <div class="usp">
                <div class="image">
                    <img src="{{ asset('img/balance.png') }}">
                </div>
                <div class="text">
                    <h3>{% trans %}Better balanced{% endtrans %}</h3>
                    <p>
                        {% trans %}Unplugging ensures better balance between body and mind{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="usp">
                <div class="image">
                    <img src="{{ asset('img/heart.png') }}">
                </div>
                <div class="text">
                    <h3>{% trans %}Healthier & Fitter{% endtrans %}</h3>
                    <p>
                        {% trans %}Unplugging helps you become healthier and fitter faster{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="clear usp-mid-split">&nbsp;</div>
            <div class="usp">
                <div class="image">
                    <img src="{{ asset('img/cutlery.png') }}">
                </div>
                <div class="text">
                    <h3>{% trans %}Personal food advice{% endtrans %}</h3>
                    <p>
                        {% trans %}Unplugging advices on what to eat to balance as fast as possible{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="usp">
                <div class="image">
                    <img src="{{ asset('img/einstein.png') }}">
                </div>
                <div class="text">
                    <h3>{% trans %}Advice from experts{% endtrans %}</h3>
                    <p>
                        {% trans %}Unplugging is scientifically supported and works with experts instead of coaches{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    {% if pages %}
        <div class="homepage-pages">
            <ul class="pages">
                {% for page in pages %}
                    <li>
                        <div class="image" style="background-image: url({{ asset('uploads/' ~ page.slideImage) }})">
                            <div class="image-text">
                                <div class="image-opacity-bar">
                                    <h2>{{ page.slideTitle }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-position">
                                <div class="align-left">
                                    {{ page.slideText|raw }}
                                    <a href="{{ getLocalizedRoute('page_view', {slug: page.slug}) }}" class="button-large">{{ page.buttonText }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
    {% endif %}

{% endblock %}
