{% block form_widget_simple %}
    <input
            id="{{ id }}"
            class="form-control"
            {% if type is defined %}type="{{ type }}"{% endif %}
            name="{{ full_name }}"
            {% if required %} required="required"{% endif %}
            value="{{ value }}"
    >
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="radio-choice">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block radio_label %}
    <label for="{{ id }}" class="radio-label">{{ label|trans }}</label>
{% endblock %}

{% block checkbox_widget %}
        <div class="checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}">{{ label|trans }}</label>
        </div>
{% endblock checkbox_widget %}
