{% extends 'admin/base.html.twig' %}
{% form_theme form 'admin/form/fields.twig' %}
{% block title %}{% trans %}New product{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid edit-page">
        <div class="row header-row">
            <div class="col-6">
                <h1>{% trans %}New product{% endtrans %}</h1>
            </div>
            <div class="col-6">
                <a href="{{ getLocalizedRoute('admin_product_overview') }}" class="btn btn-dark float-right">{% trans %}Back to overview{% endtrans %}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-1">&nbsp;</div>
            <div class="col-10">
                {{ form_start(form) }}

                <div class="form-group row">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.ebook) }}
                    {{ form_widget(form.ebook) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.has_genblueprint) }}
                    {{ form_widget(form.has_genblueprint) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.is_clothing) }}
                    {{ form_widget(form.is_clothing) }}
                </div>

                <button type="submit" class="btn btn-success float-right">{% trans %}Save{% endtrans %}</button>
            </div>
            <div class="col-1">&nbsp;</div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    <script>
        var editors = document.querySelectorAll('.ckeditor');
        var i;
        for (i = 0; i < editors.length; i++) {
            console.log('hoi');
            ClassicEditor
                .create(editors[i])
                .catch(error => {
                console.error(error);
        }
        );
        }
    </script>
{% endblock %}
