{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Shop{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="product">
            <div class="top-bar">
                <a href="{{ getLocalizedRoute('account_shop') }}" class="button-small back-button">{% trans %}Back to overview{% endtrans %}</a>
                <a href="{{ getLocalizedRoute('account_shop_cart') }}" class="button-small back-button">{% trans %}Cart{% endtrans %}</a>
            </div>
            <div class="left">
                <img src="{{ asset('uploads/' ~ product.image ) }}">
            </div>
            <div class="right">
                <div class="cart">
                    <h1>{{ product.title }}</h1>
                    <p class="price">&euro;{{ product.price|number_format(2) }}</p>

                    {% if not product.deleted %}
                        <form method="post">
                            {% if product.isClothing %}
                                <div class="product-field">
                                    <select name="size">
                                        <option value="">{% trans %}Pick a size{% endtrans %}</option>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="product-field">
                                <label for="quantity">{% trans %}Quantity{% endtrans %}</label>
                                <input type="number" name="amount" value="1">
                                <button type="submit" class="button-large">{% trans %}Add to cart{% endtrans %}</button>
                            </div>
                            <div class="clear">&nbsp;</div>
                        </form>
                    {% endif %}
                </div>
                <div class="info">
                    <h2>{% trans %}Product description{% endtrans %}</h2>
                    <p class="description">{{ product.description|raw }}</p>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
{% endblock %}
