{% extends 'website/base.html.twig' %}

{% block title %}{% trans %}Shop{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="shop">
            <div class="top-bar">
                <a href="{{ getLocalizedRoute('account') }}" class="button-small float-right">{% trans %}Back to account{% endtrans %}</a>
                <a href="{{ getLocalizedRoute('account_shop_cart') }}" class="button-small float-right">{% trans %}Cart{% endtrans %}</a>
            </div>
            <h1>{% trans %}Shop{% endtrans %}</h1>
            <div class="products">
                {% for product in products %}
                    <a href="{{ getLocalizedRoute('account_shop_product', {id: product.id}) }}" class="item">
                        <div class="product">
                            <div class="image">
                                <img src="{{ asset('uploads/' ~ product.image ) }}">
                            </div>
                            <div class="info">
                                <p class="title">{{ product.title }}</p>
                                <p class="price">&euro;{{ product.price|number_format(2) }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="clear">&nbsp;</div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
{% endblock %}