<header>
    <div class="nav-wrapper">
        <div class="nav-top">
            <div class="nav-top-email">
                <a href="">info@unplugged.nl</a>
            </div>
            <div class="nav-top-menu">
                <ul class="top-menu">
                    <li class="nav-item"><a href="{{ getLocalizedRoute('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Register{% endtrans %}</a></li>
                    <li class="nav-item"><a href="">{% trans %}Login{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="nav-bottom-logo">
                <a href="{{ getLocalizedRoute('homepage') }}">
                    <img alt="Logo" src="{{ asset('img/logo.png') }}">
                </a>
            </div>
            <div class="nav-bottom-menu">
                <ul class="bottom-menu">
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'breathe'}) }}">{% trans %}Breathe{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'drink'}) }}">{% trans %}Drink{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'eat'}) }}">{% trans %}Eat{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'chill'}) }}">{% trans %}Chill{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'body'}) }}">{% trans %}Body{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'help'}) }}">{% trans %}Help{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>