{% set locale = app.request.getLocale() %}
<header>
    <div class="nav-wrapper">
        <div class="nav-top">
            <div class="nav-top-email">
                <a href="mailto:info@unplugging.nl">info@unplugging.nl</a>
            </div>
            <div class="nav-top-menu">
                <ul class="top-menu">
                    <li class="nav-item">
                        <a href="{% if locale == 'nl' %}http://www.unplugging.co.uk{% else %}http://www.unplugging.nl{% endif %}">
                            {% if locale == 'nl' %}English{% else %}Nederlands{% endif %}
                        </a>
                    </li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('magnesium_test') }}">{% trans %}Magnesium test{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('vitamin_test') }}">{% trans %}Vitamin B12 test{% endtrans %}</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item"><a href="{{ getLocalizedRoute('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('account') }}">{% trans %}Account{% endtrans %}</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ getLocalizedRoute('login') }}">{% trans %}Login{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('register') }}">{% trans %}Register{% endtrans %}</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{{ getLocalizedRoute('homepage') }}">{% trans %}Home{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="nav-bottom-logo">
                <a href="{{ getLocalizedRoute('homepage') }}">
                    <img alt="Logo" src="{{ asset('img/logo.png') }}">
                </a>
            </div>
            <div class="nav-bottom-menu">
                {% if locale == 'nl' %}
                    {% set slug = 'hoe-werkt-het' %}
                {% else %}
                    {% set slug = 'how-it-works' %}
                {% endif %}
                <div class="mobile-menu">
                    <div id="toggle-menu">
                        <img alt="menu" src="{{ asset('img/menu.svg') }}">
                    </div>
                    <ul id="mobile-menu-list">
                        <li class="nav-item"><a href="{{ getLocalizedRoute('homepage') }}">{% trans %}Home{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: slug}) }}">{% trans %}How it works{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'breathe'}) }}">{% trans %}Breathe{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'drink'}) }}">{% trans %}Drink{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'eat'}) }}">{% trans %}Eat{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'chill'}) }}">{% trans %}Chill{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'move'}) }}">{% trans %}Move{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'help'}) }}">{% trans %}Help{% endtrans %}</a></li>

                        <li class="nav-item"><a href="{{ getLocalizedRoute('magnesium_test') }}">{% trans %}Magnesium test{% endtrans %}</a></li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('vitamin_test') }}">{% trans %}Vitamin B12 test{% endtrans %}</a></li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="nav-item"><a href="{{ getLocalizedRoute('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                            <li class="nav-item"><a href="{{ getLocalizedRoute('account') }}">{% trans %}Account{% endtrans %}</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{{ getLocalizedRoute('login') }}">{% trans %}Login{% endtrans %}</a></li>
                            <li class="nav-item"><a href="{{ getLocalizedRoute('register') }}">{% trans %}Register{% endtrans %}</a></li>
                        {% endif %}

                        <li class="nav-item">
                            <a href="{% if locale == 'nl' %}http://www.unplugging.co.uk{% else %}http://www.unplugging.nl{% endif %}">
                                {% if locale == 'nl' %}English{% else %}Nederlands{% endif %}
                            </a>
                        </li>
                        <li class="nav-item"><a href="{{ getLocalizedRoute('contact') }}">{% trans %}Contact{% endtrans %}</a></li>
                    </ul>
                </div>
                <ul class="bottom-menu">
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: slug}) }}">{% trans %}How it works{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'breathe'}) }}">{% trans %}Breathe{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'drink'}) }}">{% trans %}Drink{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'eat'}) }}">{% trans %}Eat{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'chill'}) }}">{% trans %}Chill{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'move'}) }}">{% trans %}Move{% endtrans %}</a></li>
                    <li class="nav-item"><a href="{{ getLocalizedRoute('page_view', {slug: 'help'}) }}">{% trans %}Help{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
