{% extends 'admin/base.html.twig' %}
{% form_theme form 'admin/form/fields.twig' %}
{% block title %}{% trans %}Edit page{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-3">
                <h1>{% trans %}Edit page{% endtrans %} ({{ page.locale }})</h1>
            </div>
            <div class="col-9">
                <a href="{{ getLocalizedRoute('admin_page_overview') }}" class="btn btn-dark float-right">{% trans %}Back to overview{% endtrans %}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                {{ form_start(form) }}

                <div class="form-group row">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'value': page.title}) }}
                </div>

                <div class="form-group row">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'value': page.content}) }}
                </div>

                <button type="submit" class="btn btn-success float-right">{% trans %}Save{% endtrans %}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}